:root, body, #root, button, input, select, textarea {
  font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: #f8f8f8;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    font-family: "Syne Mono", monospace;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 0; 
}
header > img {
    width: 55px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #111827;
}

.main-content {
    padding: 0 1rem;
}

.add-ingredient-form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    input {
        border-radius: 6px;
        border: 1px solid #D1D5DB;
        padding: 9px 13px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
        flex-grow: 1;
        min-width: 150px;
        max-width: 400px;
        font-size: larger;
    }
    button {
        background-color: #141413;
        color: white;
        border: none;
        border-radius: 6px;
        padding: 9px 15px;
        cursor: pointer;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
    }
    
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.clear-ingredients-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    padding-bottom: 0;
}
.clear-ingredients-button {
    /* background-color: #EF4444; */
    /* color: white; */
    opacity: 0.6;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D1D5DB;
}

.ingredients-list-wrapper {
    font-family: "The Girl Next Door", cursive;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #F5ECA0;
    /* padding: 1.5rem 2rem; */
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.226);
    max-width: 90%;
    margin: 0 auto;
    list-style-position: inside;
    text-align: left;
    width: fit-content;
    min-width: 350px;
    min-height: 350px;
}
.ingredients-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
}
.added-ingredient {
    font-family: "The Girl Next Door", cursive;
    font-size: 3rem;
    line-height: 1.2;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.add-more-ingredients-message {
    font-size: 1rem;
    color: #9c9c9c;
    text-align: center;
    margin-top: 0.5rem;
}

.add-more-ingredients-message-light {
    font-size: 1rem;
    color: #c8cfdd;
    text-align: center;
    margin-top: 0.5rem;
}

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
    max-width: 600px;
    margin: 2rem auto;
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #3B82F6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}
.get-recipe-container button:disabled {
    background: #93C5FD;
    cursor: not-allowed;
    opacity: 0.7;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
    max-width: 700px;
    margin: 2rem auto;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}
.thinking-message-wrapper {
    font-size: 1.25rem;
    color: #374151;
    text-align: center;
}